# Paytm Credentials
PAYTM_MERCHANT_ID=YTxVaZ24286063946762
PAYTM_MERCHANT_KEY=s1T8@d5rDD&a%g7k
PAYTM_WEBSITE=WEBSTAGING
PAYTM_ENVIRONMENT=staging

# Frontend Paytm (Vite)
VITE_PAYTM_MERCHANT_ID=YTxVaZ24286063946762
VITE_PAYTM_ENVIRONMENT=staging
